
<template name="microcontent_contents">
	{{#if isSubReady "userContent"}}
		{{#with userContent}}
			{{#if visitorIsCreator}}
				<p><small> این یکی از نوشته‌های شماست، می‌توانید از همینجا آن را ویرایش کنید.</small></p>
				{{#autoForm id="EditPostForm" collection="Posts" type="update" doc=.}}
					<p>{{> afQuickField name="body" rows=5 class="editor"}}</p>
					<ul class="actions">
						<li id="remove-button">
							<a href="#" class="button remove">حذف</a>
						</li>
						<li><input type="submit" class="btn btn-primary" disabled="{{disableButtons}}" value="ذخیره"></li>
						{{#if isSubReady "userData"}}
							{{#with userData}}
								<li><a href="/{{username}}" class="button">بازگشت</a></li>
							{{/with}}
						{{else}}
							در حال بارگذاری...
						{{/if}}
					</ul>
					<script>
					$(document).ready(function () {
						if($('.editor').html() == '') {
							$('.editor').html(
								'<h2> عنوان نمونه (ویرایش کنید) </h2><p> متن خود را اینجا بنویسید! </p>'
							)
						}
						var _medium_editor = new MediumEditor('.editor', {
							placeholder: {text: 'متن خود را وارد کنید.'},
							anchor: {placeholderText: 'لینک را وارد کنید.',
											 targetCheckboxText: 'در یک پنجره جدید باز شود'}
						});
						/*_medium_editor.subscribe('editableInput', function (event, editable) {
								var s = _medium_editor.serialize(); s = s[Object.keys(s)[0]].value;
								$('textarea.editor').text(s);
						});*/
						$(function () {
								$('.editor').mediumInsert({
										editor: _medium_editor,
										addons: {
											images: { // (object) Image addon configuration
												label: '<span class="fa fa-camera"></span>', // (string) A label for an image addon
												captions: true, // (boolean) Enable captions
												captionPlaceholder: 'عنوان را تایپ کنید (اختیاری)', // (string) Caption placeholder
												autoGrid: 3, // (integer) Min number of images that automatically form a grid
										},
											embeds: { // (object) Embeds addon configuration
												label: '<span class="fa fa-code"></span>', // (string) A label for an embeds addon
												placeholder: 'یک آدرس از یوتیوب، ویمئو، فیسبوک، توئیتر، اینستاگرام، فلیکر، دویان‌آرت، گیست یا هر جای دیگر وارد کنید!', // (string) Placeholder displayed when entering URL to embed
												captions: true, // (boolean) Enable captions
												captionPlaceholder: 'عنوان را تایپ کنید (اختیاری)', // (string) Caption placeholder
												oembedProxy: 'http://open.iframe.ly/api/oembed?iframe=1', // (string/null) URL to oEmbed proxy endpoint, such as Iframely, Embedly or your own. You are welcome to use "http://medium.iframe.ly/api/oembed?iframe=1" for your dev and testing needs, courtesy of Iframely. *Null* will make the plugin use pre-defined set of embed rules without making server calls.
											}
										}
								});
						});
					})
				</script>
				{{/autoForm}}
			{{else}}
				{{{body}}}
				{{fixOEmbeds}}
			{{/if}}
		{{/with}}
	{{else}}
		در حال بارگذاری...
	{{/if}}
</template>

<template name="microcontent">

	<body id="top">

		{{#if isSubReady "userData"}}
			{{#with userData}}
				{{#if profile.banner}}
					<style media="screen">
						#header {
							background-image: url("/images/overlay.png"), url("/cfs/files/images/{{profile.banner}}");
						}
					</style>
				{{else}}
					<style media="screen">
						#header {
							background-image: url("/images/overlay.png"), url("/images/bg.jpg");
						}
					</style>
				{{/if}}
			{{/with}}
		{{else}}
			<style media="screen">
				#header {
					background-image: url("/images/overlay.png"), url("/images/bg.jpg");
				}
			</style>
		{{/if}}

		<!-- Header -->
			<header id="header">
				{{#if isSubReady "userData"}}
					{{#with userData}}
						{{#if profile.avatar}}
							<a href="/{{username}}" class="image avatar">
								<img src="/cfs/files/images/{{profile.avatar}}" alt="" />
								{{#if profile.name}}
									<h1> {{profile.name}} </h1>
								{{/if}}
							</a>
						{{else}}
							<a href="/{{username}}" class="image avatar"><img src="/images/pencil.png" alt="" /></a>
							{{#if profile.name}}
								<h1> {{profile.name}} </h1>
							{{/if}}
						{{/if}}
					{{/with}}
				{{else}}
					<a href="/" class="image avatar"><img src="/images/pencil.png" alt="" /></a>
				{{/if}}
				{{#if isSubReady "userContent"}}
					{{#with userContent}}
						<h1> {{title}} </h1>
					{{/with}}
				{{else}}
					<h1>در حال بارگذاری...</h1>
				{{/if}}
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						{{> microcontent_contents}}
					</section>

			</div>

		<!-- Footer -->

		<footer id="footer">
			{{#if isSubReady "userData"}}
				{{#with userData}}
					<ul class="icons ltr">
						{{#if profile.website}}<li><a href="{{profile.website}}" class="icon fa-link"><span class="label">Website</span></a></li>{{/if}}

						{{#if profile.facebook}}<li><a href="{{profile.facebook}}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>{{/if}}
						{{#if profile.googleplus}}<li><a href="{{profile.googleplus}}" class="icon fa-google-plus"><span class="label">Google+</span></a></li>{{/if}}
						{{#if profile.twitter}}<li><a href="{{profile.twitter}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>{{/if}}
						{{#if profile.linkedin}}<li><a href="{{profile.linkedin}}" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>{{/if}}

						{{#if profile.youtube}}<li><a href="{{profile.youtube}}" class="icon fa-youtube"><span class="label">Youtube</span></a></li>{{/if}}
						{{#if profile.vimeo}}<li><a href="{{profile.vimeo}}" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>{{/if}}
						{{#if profile.aparat}}<li><a href="{{profile.aparat}}" class="icon fa-aparat"><span class="label">Aparat</span></a></li>{{/if}}

						{{#if profile.github}}<li><a href="{{profile.github}}" class="icon fa-github"><span class="label">Github</span></a></li>{{/if}}
						{{#if profile.bitbucket}}<li><a href="{{profile.bitbucket}}" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>{{/if}}
					</ul>
				{{/with}}
			{{else}}
				در حال بارگذاری...
			{{/if}}
			<ul class="copyright">
				<li>&copy; طراحی و اجرا: پویا اقبالی</li>
			</ul>
		</footer>

		<!-- Scripts -->

			{{main_script}}

	</body>
</template>
