
<template name="profile_form">
	<header class="major">
		<h2>اطلاعات کاربری</h2>
	</header>
	{{#autoForm id="UserProfileEdit" collection="Meteor.users"  doc=currentUser resetOnSuccess=false type="update"}}
		<p class="remove-label">{{> afQuickField name="profile.name" placeholder="نام"}}</p>
		<p class="remove-label">{{> afQuickField name="profile.slogan" placeholder="عنوان میکروپیج"}}</p>
		<p class="remove-label">{{> afQuickField name="profile.about" rows=5 placeholder="یک متن کوتاه که در میکروپیج شما نمایش داده شود"}}</p>
		<p class="remove-label">{{> afQuickField name="profile.website" placeholder="وبسایت"}}</p>
		{{#if isSubReady 'images'}}
			<p class="profile-images">
				{{> afQuickField name="profile.banner"}}
				{{> afQuickField name="profile.avatar"}}
			</p>
		{{else}}
			در حال بارگذاری...
		{{/if}}
		<section class = "tab-container">
			<ul class="tabs">
				<li class="tab-link current" data-tab="tab-1">شبکه‌های اجتماعی</li>
				<li class="tab-link" data-tab="tab-2">ویدئو</li>
				<li class="tab-link" data-tab="tab-3">کدینگ</li>
			</ul>
			<section id="tab-1" class = "tab-content current">
				<p>{{> afQuickField name="profile.facebook" placeholder="فیسبوک"}}</p>
				<p>{{> afQuickField name="profile.googleplus" placeholder="گوگل پلاس"}}</p>
				<p>{{> afQuickField name="profile.twitter" placeholder="توئیتر"}}</p>
				<p>{{> afQuickField name="profile.linkedin" placeholder="لینکداین"}}</p>
			</section>
			<section id="tab-2" class = "tab-content">
				<p>{{> afQuickField name="profile.youtube" placeholder="یوتیوب"}}</p>
				<p>{{> afQuickField name="profile.vimeo" placeholder="ویمئو"}}</p>
				<p>{{> afQuickField name="profile.aparat" placeholder="آپارات"}}</p>
			</section>
			<section id="tab-3" class = "tab-content">
				<p>{{> afQuickField name="profile.github" placeholder="گیت‌هاب"}}</p>
				<p>{{> afQuickField name="profile.bitbucket" placeholder="بیت‌باکت"}}</p>
			</section>
		</section>
		<ul class="actions">
			<li><input type="submit" class="btn btn-primary" disabled="{{disableButtons}}" value="ذخیره"></li>
			<li><a href="/" class="button">بازگشت</a></li>
		</ul>
	{{/autoForm}}
</template>

<template name="profile">

	<body id="top">

		{{#if isSubReady "userData"}}
			{{#with userData}}
				{{#if profile.banner}}
					<style media="screen">
						#header {
							background-image: url("/images/overlay.png"), url("/cfs/files/images/{{profile.banner}}");
						}
					</style>
				{{else}}
					<style media="screen">
						#header {
							background-image: url("/images/overlay.png"), url("/images/bg.jpg");
						}
					</style>
				{{/if}}
			{{/with}}
		{{else}}
			<style media="screen">
				#header {
					background-image: url("/images/overlay.png"), url("/images/bg.jpg");
				}
			</style>
		{{/if}}

		<!-- Header -->
			<header id="header">
				{{#if isSubReady "userData"}}
					{{#with userData}}
						{{#if profile.avatar}}
							<a href="#" class="image avatar">
								<img src="/cfs/files/images/{{profile.avatar}}" alt="" />
								{{#if profile.name}}
									<h1> {{profile.name}} </h1>
								{{/if}}
							</a>
						{{else}}
							<a href="#" class="image avatar"><img src="/images/pencil.png" alt="" /></a>
							{{#if profile.name}}
								<h1> {{profile.name}} </h1>
							{{/if}}
						{{/if}}
					{{/with}}
				{{else}}
					<a href="#" class="image avatar"><img src="/images/pencil.png" alt="" /></a>
				{{/if}}
				<h1>به <strong> میکروپابلیش </strong> خوش آمدید!</h1>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						{{> profile_form}}
					</section>

			</div>

		<!-- Footer -->

		<footer id="footer">
			{{#if isSubReady "userData"}}
				{{#with userData}}
					<ul class="icons ltr">
						{{#if profile.website}}<li><a href="{{profile.website}}" class="icon fa-link"><span class="label">Website</span></a></li>{{/if}}

						{{#if profile.facebook}}<li><a href="{{profile.facebook}}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>{{/if}}
						{{#if profile.googleplus}}<li><a href="{{profile.googleplus}}" class="icon fa-google-plus"><span class="label">Google+</span></a></li>{{/if}}
						{{#if profile.twitter}}<li><a href="{{profile.twitter}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>{{/if}}
						{{#if profile.linkedin}}<li><a href="{{profile.linkedin}}" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>{{/if}}

						{{#if profile.youtube}}<li><a href="{{profile.youtube}}" class="icon fa-youtube"><span class="label">Youtube</span></a></li>{{/if}}
						{{#if profile.vimeo}}<li><a href="{{profile.vimeo}}" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>{{/if}}
						{{#if profile.aparat}}<li><a href="{{profile.aparat}}" class="icon fa-aparat"><span class="label">Aparat</span></a></li>{{/if}}

						{{#if profile.github}}<li><a href="{{profile.github}}" class="icon fa-github"><span class="label">Github</span></a></li>{{/if}}
						{{#if profile.bitbucket}}<li><a href="{{profile.bitbucket}}" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>{{/if}}
					</ul>
				{{/with}}
			{{else}}
				در حال بارگذاری...
			{{/if}}
			<ul class="copyright">
				<li>&copy; طراحی و اجرا: پویا اقبالی</li>
			</ul>
		</footer>

		<!-- Scripts -->

			{{main_script}}

	</body>
</template>
