
<template name="signin_form">
	<header class="major">
		<h2>ورود</h2>
	</header>
	<p>لطفا نام کاربری و گذرواژه خود را وارد کنید.</p>
	<form id="signin-form">

    <p><input type="text" id="signin-username" placeholder="نام کاربری" /></p>
    <p><input type="password" id="signin-password" placeholder="کلمه عبور" /></p>

  </form>
	<ul class="actions">
		<li><a href="#" class="button signin">ورود</a></li>
		<li><a href="/" class="button">بازگشت</a></li>
	</ul>
</template>

<template name="signin">

	<body id="top">

		<style media="screen">
			#header {
				background-image: url("/images/overlay.png"), url("/images/bg.jpg");
			}
		</style>

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="/images/pencil.png" alt="" /></a>
				<h1>به <strong> میکروپابلیش </strong> خوش آمدید!</h1>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						{{> signin_form}}
					</section>

			</div>

		<!-- Footer -->

			{{> footer}}

		<!-- Scripts -->

			{{main_script}}

	</body>
</template>
